@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mt-4"> Welcome to <br /></h1>
    @* <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
    <img class="my-4 img-fluid" src="~/images/EMS_Logo.jpg" asp-append-version="true" alt="EMS Logo" />
</div>
