@model EMS.Domain.Models.TicketInShoppingCart

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p class="fs-1">Add Ticket to Shopping Cart</p>

<div class="row mt-5">
    <div class="col-3">

        <form asp-action="AddToCartConfirmed">
            <input type="hidden" asp-for="TicketId" />

            <div class="form-group">
                <label asp-for="Quantity" class="fs-5"></label>
                <input asp-for="Quantity" class="form-control my-3" />
            </div>
            <div class="form-group">
                <input type="submit" value="Add To Cart" class="btn-success rounded-3" />
            </div>
        </form>
    </div>
</div>
