<div>
    <p class="fs-3">Import Attendees</p>
    <hr />
</div>

<form asp-controller="Attendee" asp-action="ImportAttendees" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <input type="file" name="file" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success my-3">Import Excel</button>
</form>